
section {
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.3rem 0 0.3rem 0;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }