
section {
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.3rem 0 0.3rem 0;
}

table {
  width: 100%;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
td, th {
  width: 25%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.fuzzy-search, .client-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  mat-form-field {
    max-width: 180px;
    margin-right: 1rem;
  }
}